.elementive-carousel {
    &.swiper-container {

        &.carousel-disable-overlfow {
            overflow: unset;
        }
        
        .swiper-wrapper {
            visibility: hidden;
        }

        &.swiper-container-horizontal {
            .swiper-wrapper {
                visibility: visible;
            }
        }
        
        .swiper-slide {
        }
    }
}