.elementor-widget-elementive-pricing {
    .elementive-pricing {
        .elementive-pricing-header {
            margin-bottom: 30px;

            .elementive-pricing-icon {
                margin-bottom: 30px;
                i, svg {
                    transition: all .3s ease-in-out;;
                }
            }
        }
        .elementive-pricing-price {
            margin-bottom: 30px;

            span {
                display: flex;

                &.price-description {
                    margin-left: 1rem;
                }
            }

            .flex-start {
                justify-content: flex-start;
            }

            .flex-end {
                justify-content: flex-end;
            }

            .center {
                justify-content: center;
            }

            .space-between {
                justify-content: space-between;
            }

            .space-around {
                justify-content: space-around;
            }

            &.space-evenly {
                justify-content: space-evenly;
            }
        }

        .elementive-pricing-content {
            margin-bottom: 30px;
        }
        .elementive-pricing-feature {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                padding: 0;
            }
        }
    }
}