.elementor-widget-elementive-button {
    .elementive-button {
        text-decoration: none;
        color: inherit;
        transition: all .3s ease-in-out;

        &:hover {
            color: inherit;
            text-decoration: none;
        }

        &.full {
            .elementive-button-content {
                width: 100%;
            }
        }
    }
}