.elementor-widget-elementive-button {
    .elementive-button {
        text-decoration: none;
        color: inherit;
        transition: all .3s ease-in-out;

        &:hover {
            color: inherit;
            text-decoration: none;
        }

        &.elementive-button-full {
            width: 100%;
            .elementive-button-content {
                width: 100%;
                text-align: center;
            }
        }

        .elementive-button-icon {
            text-align: center;
            transition: all .2s ease-in-out;

            i {
                line-height: inherit;
                text-align: center;
                width: 100%;
                transition: all .2s ease-in-out;
            }

            svg {
                margin-left: auto;
                margin-right: auto;
                margin-top: 0;
                margin-bottom: 0;
                transition: all .2s ease-in-out;
            }
        }
    }
}