.elementor-widget-elementive-text {
    .elementive-text-content {
        
        &.has_background_mask {
            position: relative;
            display: inline-block;
            -webkit-background-clip: text!important;
            background-clip: text!important;
            -webkit-text-fill-color: transparent!important;
            text-fill-color: transparent!important;
        }

        &.has-text-color-animation {
        	// Animation variables.
        	$animationSteps: 20;
        	$animationDuration: 25;
        	$animationElement: div;
        	$animationElementsCount: 100;
        	$delayBetweenLetters: 0.2;

        	// Elements settings.
        	#{$animationElement} {
        		animation-name: anim-text-flow-keys;
        		animation-duration: #{$animationDuration}s;
        		animation-iteration-count: infinite;
        		animation-direction: alternate;
        		animation-fill-mode: forwards;
        	}

        	// Keyframe loop.
        	@keyframes anim-text-flow-keys {
        		@for $i from 0 through $animationSteps {
        			#{percentage($i * (1 / $animationSteps))} {
        				color: hsla(random(365), 50, 50, 1);
        			}
        		}
        	}

        	// Element animation delay loop.
        	$totalDelayTime: $animationElementsCount * $delayBetweenLetters;

        	@for $i from 1 through $animationElementsCount {
        		#{$animationElement}:nth-of-type(#{$i}) {
        			animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
        		}
        	}
        }

        &::selection {
            background: transparent;
        }
    }
}