.elementor-widget-elementive-icon-box {
    .elementive-icon-box {
        transition: all .3s ease-in-out;
        .elementive-icon-box-icon {
            &.run-vivus {
                svg {
                    visibility: hidden;
                    opacity: 0;
                    max-width: 100%;
                    height: auto;
                    transition: all .1s ease-in-out;
                    
                    &.show-svg {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
        .elementive-icon-box-content {
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}